body {
  background-color: EF6F1EE;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: 4F4A45;
}
h2 {
  color: 6C5F5B;
}

.container {
  width: 700px;
  margin: 40px auto;
}

p {
  color: ED7D31;
}

div {
  width: 300px;
margin: 0 auto;
text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: blue;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
}

.base {
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  text-align: center;
  width: 500px;
  margin: 32 auto;
}

ul {
  padding: 0;
}
li {
  font-size: 32px;
  list-style: none;
  align-items: center
  ;
}
